.tag {
  background: linear-gradient(135deg, #2C73D2, #0089BA) left center / 100% 100%;
  font-size: 14px;
  color: #fff;
  padding: 4px 10px 5px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}
