.mkWrap {
  background-color: red;
  width: 96%;
  max-width: 1280px;
  margin: 0 auto;
}
.paper {
  background-image: linear-gradient(90deg, #3200000d 3%, transparent 0), linear-gradient(0deg, #3200000d 3%, transparent 0);
}
