.content {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  padding: 30px 10px;
}
.articleList {
  width: calc(100% - 270px);
  list-style: none;
  margin: 0;
}
.articleList > a {
  display: block;
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.4);
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.articleList > a:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.articleList > a:last-child {
  margin-bottom: 0;
}
.articleList > a > div:first-child {
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  padding: 10px 0;
}
.articleList > a > div:first-child h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: normal;
}
.articleList > a > div:first-child p {
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
}
.articleList > a > div:last-child {
  padding: 10px 0;
  color: rgba(51, 51, 51, 0.95);
  font-size: 16px;
  line-height: 20px;
}
.aside {
  width: 230px;
  margin-left: 40px;
  flex-shrink: 0;
}
.tagBox {
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.4);
  border-radius: 5px;
  margin-bottom: 20px;
}
.tagBox h2 {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.tagBox h2 svg {
  font-size: 24px;
  margin-right: 10px;
}
.tagBox div {
  text-align: justify;
  padding: 10px;
}
.tagBox div > * {
  margin-right: 10px;
  margin-bottom: 5px;
}
.tagBox ul {
  padding: 5px 0;
  margin: 0;
  margin-bottom: 5px;
  list-style: none;
}
.tagBox ul li {
  padding: 5px 15px;
  cursor: pointer;
  color: #555;
  position: relative;
}
.tagBox ul li:hover {
  background-color: rgba(102, 102, 102, 0.1);
}
.tagBox ul li:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: rgba(0, 0, 255, 0.5);
}
.rootBg {
  background-image: url('/img/root-bg.jpg');
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -998;
  opacity: 0.25;
}
.description {
  display: flex;
  align-items: center;
}
.description > div {
  margin-right: 20px;
}
.description > div:last-child {
  margin-right: 0px;
}
.description tag {
  color: rgba(51, 51, 51, 0.85);
}
.tagWrap tag {
  margin-right: 5px;
}
.tagWrap tag:last-child {
  margin-right: 0;
}
.label {
  margin-right: 10px;
  color: rgba(51, 51, 51, 0.5);
}
.listContent {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(51, 51, 51, 0.7) !important;
}
.currentTagbox {
  padding-bottom: 20px;
}
.currentTagbox > * {
  margin-right: 10px;
}
.currentTagbox > *:last-child {
  margin-right: 0;
}
